PORT=5005
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/error404?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
PISTON_API_URL=https://emkc.org/api/v2/piston
NODE_ENV=development
